/* Colors Background*/
.avi-bg-green {
    background: #0b9442 !important;
}

.avi-bg-orange {
    background: #f58023 !important;
}

.avi-bg-red {
    background: #c7202a !important;
}

.avi-bg-yellow {
    background: #fcd057 !important;
}

.avi-bg-grey {
    background: #6d6c6b;
}

/* Colors Text*/
.avi-text-green {
    color: #0b9442 !important;
}

.avi-text-orange {
    color: #f58023 !important;
}

.avi-text-red {
    color: #c7202a;
}

.avi-text-yellow {
    color: #fcd057;
}

/* Colors Border*/
.avi-border-green {
    border-top: solid 3px #0b9442;
}


.avi-border-orange {
    color: #f58023;
}

.avi-border-red {
    color: #c7202a;
}

.avi-border-yellow {
    border-top: solid 3px #fcd057;

}

/* Login */
.avi-boton-green {
    background: #0b9442;
    transition: all 200ms;
}

.avi-boton-green:hover {
    background: #168a4b !important;
    transform: scale(1.02, 1.02);
}

.avi-boton-yellow {
    background: #fcd057;
    transition: all 200ms;
}

.avi-boton-yellow:hover {
    background: #dbb54c !important;
    transform: scale(1.02, 1.02);
}

.avi-boton-red {
    background: #c7202a;
    transition: all 200ms;
}

.avi-boton-red:hover {
    background: #c7202a !important;
    transform: scale(1.02, 1.02);
    border: 1px solid white !important;

}


/* Efecto menú slider */

.main-sidebar .sidebar-menu li.active a {
    color: #0b9442 !important;
    font-weight: 600;
}

body.sidebar-mini .main-sidebar .sidebar-menu>li.active>a {
    box-shadow: 0 4px 8px #acb5f6 !important;
    background-color: #0b9442 !important;
    color: #fff !important;
}


/* Tarjetas de show*/

.avi-icon-xl {
    font-size: 80px !important;
}

/* ---- Target Green */
.avi-target-green {
    border-left: solid 10px #0b9442 !important;
    border-right: solid 1px #0b9442 !important;
    border-top: solid 1px #0b9442 !important;
    border-bottom: solid 1px #0b9442 !important;
    transition: all 450ms;
}

.avi-target-green:hover {
    /* border: solid 0px !important; */
    background: #0b9442 !important;
    color: white !important;
    transform: scale(1.02, 1.02);
    box-shadow: 5px 5px 10px rgb(94, 94, 94);
}

.avi-target-green:hover .avi-text-green {
    /* border: solid 0px !important; */

    color: white !important;

}

/* ---- Target Orange */
.avi-target-orange {
    border-left: solid 10px #f58023 !important;
    border-right: solid 1px #f58023 !important;
    border-top: solid 1px #f58023 !important;
    border-bottom: solid 1px #f58023 !important;
    transition: all 450ms;
}

.avi-target-orange:hover {
    /* border: solid 0px !important; */
    background: #f58023 !important;
    color: white !important;
    transform: scale(1.02, 1.02);
    box-shadow: 5px 5px 10px rgb(94, 94, 94);

}

/* ---- Target red */
.avi-target-red {
    border-left: solid 10px #c7202a !important;
    border-right: solid 1px #c7202a !important;
    border-top: solid 1px #c7202a !important;
    border-bottom: solid 1px #c7202a !important;
    transition: all 450ms;
}

.avi-target-red:hover {
    /* border: solid 0px !important; */
    background: #c7202a !important;
    color: white !important;
    transform: scale(1.02, 1.02);
    box-shadow: 5px 5px 10px rgb(94, 94, 94);
}

.avi-target-red:hover .avi-text-green {
    /* border: solid 0px !important; */

    color: white !important;

}

.avi-target-red:hover .avi-boton-red {
    /* border: solid 0px !important; */

    border: 1px solid white !important;

}


.avi-icon-info {
    font-size: 17px;
}
